.container-pastorder-header{
    position: absolute;
    top:3em;
    left:5em;
    height: calc(100vh - 70px);
}

.pastorder-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    margin: 1em;
    margin-top: 20px;
}

.pastorder-search{
    display: flex;
    width: 32%;
    align-items: center;
    justify-content: space-between;
    margin-top: 0%;
}

.pastorder-search-bar{
    margin: 0.8em;
    height: 32px;
    border-bottom: 1px solid #a0a0a0;
}

.pastorder-search-bar > input{
    outline: none;
    border: none;
    padding-left: 10px;
}

.pastorder-create-button{
    color: #5861ae;
    background-color: #ffffff;
    border: 1px solid #5861ae;
    width: 8em;
    height: 2em;
    border-radius: 4px;
}

.order-table-header{
    display: flex;
    width: 90vw;
    height: 35px;
    align-items: center;
    justify-content: center;
    background-color: #383737;
    color: #ffffff;
}

.coloumn{
    display: flex;
    width: 9vw;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.coloumn > h6{
    font-size: 14px;
}