.home-welcome{
    position: fixed;
    top: 35vh;
    left: 35vw;
    width: 30vw;
    height: 30vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.welcome-button{
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-button:hover{
    background-color: #5861ae;
    color: white;
}